* {
  /* background-image: url(./images/Beerbubbles.jpg);
  background-position: 0%; */
  text-align: center;
  font-family: Luckiest Guy;
  font-size: 30px;
  
  
}

.App {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(192, 114, 80);
  
  
}
img{
  height: 400px;
}
h2 {
  font-size: 60px;
  font-family: sans-serif;
}

.home p {
  height: 50%;
}




.nav.nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  
  
  list-style: none;
  background-color: rgb(255, 254, 254);
  
}


  
  



.paragraph {
  font-size: 50px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



